
#navbar {
    flex-direction: column;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar-content li {
    padding: 0.25rem;
}

.navbar-content li a {
    font-size: 1.2rem;
}

#training .items {
    flex-direction: column;
}

.courses .course {
    flex-direction: column;
    align-items: center;
}

.courses .course .course-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form-group {
    margin: 1rem;
    width: 90.7%;
}
.form-control {
    width: 90.7%;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
}
.form-group textarea {
    resize: none;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    overflow-x: hidden;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 90.7%;
}
.btn-block {
    width: 91%;
}
.form{
    padding: 1rem;
}